.events_list-item{
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid rgb(13, 198, 204);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.events_list-item h2{
    margin: 0;
    font-size: 1 rem;
    color: rgb(13, 198, 204);
}

.events_list-item h3{
    margin: 5px 0 0 0 ;
    font-size: 0.8rem;
    color: grey;
}

.events_list-item p{
    margin: 0;
}
